<!DOCTYPE html>
<html>
<head></head>
<body>
    <div>
        <h2><b>Candlestick Charts from CSV file</b></h2>
        {{candlestick_fig_html|safe}}
    </div>

    <div>
        <h2><b>Pie chart of market caps for 10 symbols</b></h2>

        {{ pie_fig_html|safe }}
    </div>
</body>
</html>
